.weather-5days {
  width: 616px;
  height: 273px;
  padding: 24px;
  border-radius: 24px;
  background-color: var(--border-color);
}

h2 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 25px 0;
}

.weather5days-list {
  padding: 0;
  padding-bottom: 0;
  margin: 0;
  height: 219px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  list-style: none;

  p {
    margin: 0;
  }

  .weather5days-item {
    width: 72px;
    height: 179px;
    padding: 22px 16px;
    border-radius: 24px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    .weather5days-date {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .line-short {
        width: 60px;
        height: 2px;
        margin: 0;
        border: none;
        background: linear-gradient(90deg,
            rgba(54, 54, 54, 0) 0%,
            #7E7E7E 48.5%,
            rgba(54, 54, 54, 0) 100%);
      }

      .weather5days-day {
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
      }
    }

    img {
      width: 72px;
      height: 72px;
    }

    .weather5days-temp {
      color: var(--text-color);
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.weather5days-item:last-child {
  margin-bottom: 48px;
}

.weather5days-list::-webkit-scrollbar {
  width: 8px;
}

.weather5days-list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.weather5days-list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.weather5days-list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}