:root {
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--border-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.container {
  background-color: var(--background-pg-color);
  border: var(--container-border);
  width: 100%;
  height: 100%;
  max-width: 1440px;
  min-height: 900px;
  margin: 20px auto;
  color: var(--text-color);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
}

.content {
  margin: 44px 44px 44px 0;
  max-width: 1244px;
  width: 100%;
}

.main {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  max-width: 1244px;
  width: 100%;
  height: 732px;
  gap: 24px;

  .first-half {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 556px;
    width: 100%;
  }

  .second-half {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 664px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 100%;
  }

  .main {
    flex-direction: column;
    height: 100%;
  }

  .first-half, .second-half {
    height: 100%;
    flex-direction: column;
  }
}