.current-weather {
  height: 266px;
  padding: 24px;
  border-radius: 24px;
  background-color: var(--border-color);
}

.current-weather-header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;

  .unit-btn {
    width: 56px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 16px;
    border: 0px solid transparent;    
    font-size: 16px;
    font-weight: 500;
    color: var(--text-placeholder-color);
    transition: border, color 0.2s ease-in-out;
  }

  .unit-btn:hover {
    cursor: pointer;
    border: 1px solid var(--text-placeholder-color);
    color: var(--text-color);
  }

  .current-location {
    max-width: 100%;
    height: 24px;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    font-size: 18px;
    color: var(--text-color);

    .location-icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

.current-weather-main {
  max-width: 100%;
  width: 100%;
  height: 218px;
  display: flex;
  flex-direction: row;
  gap: 29px;

  .current-main-date {
    width: 130px;
    max-height: 67px;
    height: 100%;
    color: var(--text-color);

    .current-day {
      font-size: 36px;
      margin: 0 0 4px 0;
    }

    .current-time {
      font-size: 16px;
      margin: 0;
    }
  }

  .current-info-block {
    max-width: 350px;
    width: 100%;
    height: 172px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 57px;

    .weather-img {
      img {
        width: 150px;
        height: 150px;
        align-self: center;
      }
    }

    .current-weather-info {
      max-width: 200px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;

      .current-temp {
        margin-right: 10px;

        .current-temp-max {
          font-size: 40px;
          margin: 0;
          color: var(--text-color);
        }

        .current-temp-min {
          font-size: 24px;
          margin: 0;
          color: var(--text-secondary-color);
        }
      }

      .current-descr {
        color: var(--text-color);

        .current-condition {
          font-size: 20px;
          margin: 0 0 7px 0;

        }

        .feels-like {
          font-size: 16px;
          margin: 0;

        }
      }
    }
  }
}