.search-bar-block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--component-size-333);
  height: var(--component-size-56);
  margin-left: var(--component-size-12);
  border: 1px solid var(--primary-color);
  border-radius: var(--component-size-36);
  background: var(--border-color);
  transition: border 0.25s ease, background 0.25s ease;
}

.search-bar-block:hover {
  border: 1px solid var(--text-placeholder-color);
}

.search-bar {
  width: 100%;
  height: 100%;
}

.search-icon {
  position: absolute;
  left: var(--search-icon-offset);
  top: 50%;
  transform: translateY(-50%);
  width: var(--search-icon-size);
  height: var(--search-icon-size);
  pointer-events: none;
}

.search-icon path {
  stroke: var(--text-placeholder-color);
  transition: stroke 0.2s ease-in-out;
}

.search-bar-block:hover .search-icon path {
  stroke: var(--text-secondary-color);
}

.search-bar__placeholder {
  transition: color 0.25s ease;
  color: var(--text-placeholder-color);
}

.search-bar__single-value {
  transition: color 0.25s ease;
  color: var(--text-placeholder-color);
}

.search-bar__control--is-focused .search-bar__placeholder,
.search-bar__control--is-focused .search-bar__single-value {
  color: var(--text-secondary-color);
}

.search-bar__control:hover .search-bar__placeholder,
.search-bar__control:hover .search-bar__single-value {
  color: var(--text-secondary-color);
}

.search-bar__value-container {
  white-space: nowrap;
}

.search-bar__placeholder,
.search-bar__single-value {
  font-size: var(--font-size-search);
  color: var(--text-placeholder-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.25s ease;
}

@media screen and (max-width: 768px) {
  .search-bar-block {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {

  .search-bar__placeholder,
  .search-bar__single-value {
    font-size: var(--font-size-search-mobile);
  }

  .search-icon {
    width: var(--component-size-24);
    height: var(--component-size-24);
  }

  .search-bar__control {
    padding-left: var(--component-size-60);
  }

}

@media screen and (max-width: 449px) {
  .search-bar__placeholder {
    font-size: 0;
  }
}