.theme-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: var(--btn-theme-border);
  border-radius: 100%;
  box-shadow: none;
  background-color: var(--btn-theme-bg-color);
  background-image: var(--btn-theme-bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  transition: box-shadow 0.2s ease-in-out;
}

.theme-btn:hover {
  cursor: pointer;
  box-shadow: var(--btn-theme-bg-box-shadow);
}